hiolaaaa
<div class="card-content" [@esFavorito]="destino.isSelected() ? 'estadoFavorito' : 'estadoNoFavorito'"></div>
    <div	class="card-content">
     <div	class="card-img">
         <img	src="https://placeimg.com/380/230/nature"	alt="">
             <span><h4>{{position}}</h4></span>
                 </div>
                <div	class="card-desc">
                    <h3>{{destino.nombre}}</h3>
                      <p>{{destino.descripcion}}</p>
                      <p>Servicios</p>
                      <div>
                        <a href="#" (click)="voteUp()"appTrackearClick data-trackear-tags="destino_vote_up lista_destinos_item"> 
                            <i class="material-icons md-18">thumb_up</i></a>
                        <a href="#" (click)="voteDown()" appTrackearClick data-trackear-tags="destino_vote_down lista_destinos_item">
                             <i class="material-icons md-18">thumb_down</i></a>
                        {{destino.votes}}
                        <br>
                        <hr>
                        <br>
                    </div>
                      <ul>
                          <li *ngFor="let s of destino.servicios">
                              <span  class="container"  [ngSwitch]="s">
                                  <i *ngSwitchCase ="'desayuno'" style="color:red">{{s}}</i>
                                  <i *ngSwitchDefault >{{s}}</i>
                                  </span>
                          </li>
                      </ul>
             
                 <a	href="#"	class="btn-card" (click) ="ir()"> Ver más</a>
                 <span *ngIf="destino.isSelected()" style="color:red">
                    <span ngNonBindable>{{favorito}}</span>
                </span>	
                <<span [style.display]="destino.isSelected() ? '': 'none'"> preferido</span>
                <a [routerLink] ="['/destino', destino.id]">destino</a>
                    </div>
    </div>
