<p>destino-detalle works!
{{destino.id}}
<br>
{{destino.nombre}}
</p>
//imports NgxMapboxGLModule

<hr>
<mgl-map
	[style}="style"
	[zoom]="[2]"
	style="height: 50vh; width: 100ww;"
	>
	<mgl-map
		[style]="style"
		[zoom]="[2]"
		style="height: 50vh; width: 100vm;"
		>
		<mgl-marker [lngLat]="[-75.5551012, 10.421185]">
			<div 
				onclick="alert('Hola')"
				class="marker"
			>
				Hola mundo!
				</div>
		<mgl-marker>
	<mgl-map>

